rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidId(id) {
      return id is string && id.size() > 0 && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$');
    }
    
    function incoming() { return request.resource.data; }
    function existing() { return resource.data; }
    function isSignedIn() { return request.auth != null && request.auth.token.email_verified == true; }

    match /users/{userId} {
      allow get: if isSignedIn() && request.auth.uid == userId;
      allow create, update: if isSignedIn() && request.auth.uid == userId;
    }

    match /artists/{artistId} {
      allow get, list, create, update, delete: if isSignedIn();
    }

    match /global/{docId} {
      allow get, list: if isSignedIn();
      allow write: if false;
    }

    match /songs/{songId} {
      allow get, list, create, update, delete: if isSignedIn();
    }

    match /albums/{albumId} {
      allow get, list, create, update, delete: if isSignedIn();
    }

    match /posts/{postId} {
      allow get, list, create, update, delete: if isSignedIn();
    }
  }
}
